@font-face {font-family: 'iconfont';src: url('data:font/ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTZT2A0cAAAfkAAAAHEdERUYAKQALAAAHxAAAAB5PUy8yPEFI9AAAAVgAAABgY21hcOZT6bIAAAHMAAABSmdhc3D//wADAAAHvAAAAAhnbHlmC9Ez4QAAAyQAAAHYaGVhZCJvIFYAAADcAAAANmhoZWEHVwOFAAABFAAAACRobXR4DIYAmgAAAbgAAAASbG9jYQBIAOwAAAMYAAAADG1heHABFwB/AAABOAAAACBuYW1lXoIBAgAABPwAAAKCcG9zdEi95T4AAAeAAAAAOgABAAAAAQAAa8p6yF8PPPUACwQAAAAAAN+o7h8AAAAA36juHwCGAAoDeQMRAAAACAACAAAAAAAAAAEAAAOA/4AAXAQAAAAAAAN5AAEAAAAAAAAAAAAAAAAAAAAEAAEAAAAFAHMACAAAAAAAAgAAAAoACgAAAP8AAAAAAAAABAQAAZAABQAAAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZADA5gzmJQOA/4AAAAPcAIAAAAABAAAAAAAAAAAAAAAgAAEEAAAAAAAAAAQAAAAEAACaAIYAAAAAAAMAAAADAAAAHAABAAAAAABEAAMAAQAAABwABAAoAAAABgAEAAEAAuYM5iX//wAA5gzmJf//GfcZ3wABAAAAAAAAAAABBgAAAQAAAAAAAAABAgAAAAIAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASADsAAIAmgCBA2sCtwAWAC0AAAEwOQE0Njc2HgEGBw4BBzYeAQ4CLgElMDkBNDY3Nh4BBgcOAQc2HgEOAi4BAjN3aBIqFgsSLUgWL1QsDEBcWjb+Z3doEikWChIuRxcvVSsMP11ZNgEhedM/CwolKQsbTzAFLVVfRxYiTjB50z8LCiUpCxtPMAUtVV9HFiJOAAAAAAgAhgAKA3kDEQAPABwALQA5AEkAVgBmAHIAAAEiLgE0PgEzFSIOARQeATMVIiY1ETQ2MhYVERQGByIuATUzFB4BMj4BNTMUDgE3ISImNDYzITIWFAYDNTI+ATQuASM1Mh4BFA4BIyImNRE0NjIWFREUBgEjNC4BIg4BFSM0PgEyHgEHISImNDYzITIWFAYCATVaNTVaNS1MLS1MLQYJCQwJCbw1WjUeLUxaTC0eNVp//pYGCQkGAWoGCQkGLUwtLUwtNVo1NVo1BgkJDQgIAXMeLUxaTCweNFpqWjUP/pYGCQkGAWoGCQkBijVZa1k1HixNWU0sHgkGAWkHCAgH/pcGCc41WjUtTC0tTC01WjW1CQwJCQwJ/pkeLUxaTC0eNVpqWjUJBgFqBgkJBv6WBgkBdi1MLS1MLTVaNTVZRQkNCAgNCQAAAAAAABIA3gABAAAAAAAAABMAKAABAAAAAAABAAgATgABAAAAAAACAAcAZwABAAAAAAADAAgAgQABAAAAAAAEAAgAnAABAAAAAAAFAAsAvQABAAAAAAAGAAgA2wABAAAAAAAKACsBPAABAAAAAAALABMBkAADAAEECQAAACYAAAADAAEECQABABAAPAADAAEECQACAA4AVwADAAEECQADABAAbwADAAEECQAEABAAigADAAEECQAFABYApQADAAEECQAGABAAyQADAAEECQAKAFYA5AADAAEECQALACYBaABDAHIAZQBhAHQAZQBkACAAYgB5ACAAaQBjAG8AbgBmAG8AbgB0AABDcmVhdGVkIGJ5IGljb25mb250AABpAGMAbwBuAGYAbwBuAHQAAGljb25mb250AABSAGUAZwB1AGwAYQByAABSZWd1bGFyAABpAGMAbwBuAGYAbwBuAHQAAGljb25mb250AABpAGMAbwBuAGYAbwBuAHQAAGljb25mb250AABWAGUAcgBzAGkAbwBuACAAMQAuADAAAFZlcnNpb24gMS4wAABpAGMAbwBuAGYAbwBuAHQAAGljb25mb250AABHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAHMAdgBnADIAdAB0AGYAIABmAHIAbwBtACAARgBvAG4AdABlAGwAbABvACAAcAByAG8AagBlAGMAdAAuAABHZW5lcmF0ZWQgYnkgc3ZnMnR0ZiBmcm9tIEZvbnRlbGxvIHByb2plY3QuAABoAHQAdABwADoALwAvAGYAbwBuAHQAZQBsAGwAbwAuAGMAbwBtAABodHRwOi8vZm9udGVsbG8uY29tAAAAAAIAAAAAAAAACgAAAAAAAQAAAAAAAAAAAAAAAAAAAAAABQAAAAEAAgECAQMFcXVvdGUHZmVuZ2NoZQAAAAAAAf//AAIAAQAAAAwAAAAWAAAAAgABAAMABAABAAQAAAACAAAAAAAAAAEAAAAA1aQnCAAAAADfqO4fAAAAAN+o7h8=') format('truetype');}.iconfont {font-family: "iconfont" !important;font-size: 16px;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}.icon-quote:before {content: "\e60c";}.icon-fengche:before {content: "\e625";}
html {
    font-size: 18px;
}
body {
    font-family: var(--body-font);
    color: var(--body-color);
    -webkit-font-smoothing: antialiased;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: justify;
    text-justify: inter-ideograph;
}
#write {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 30px 160px;
}
content {
    background: var(--bgimg-url) no-repeat;
    background-size: 18%;
    background-position: 85% 100%;
}
#write p {
    line-height: 1.6rem;
    word-spacing: .05rem;
    /* color: var(--para-color); */
}
#write>ul:first-child,
#write>ol:first-child {
    margin-top: 30px;
}
body>*:first-child {
    margin-top: 0 !important;
}
body>*:last-child {
    margin-bottom: 0 !important;
}
.mathjax-block:hover .md-rawblock-container,
.mathjax-block:hover .md-rawblock-tooltip,
.md-htmlblock:hover .md-rawblock-container,
.md-htmlblock:hover .md-rawblock-tooltip {
    background-color: var(--bg-color);
    -webkit-animation: none;
    animation: none;
}
.mathjax-block .md-rawblock-control,
.md-htmlblock .md-rawblock-control {
    color: var(--para-color);
    background-color: var(--codeblockbg-color);
}
#write a {
    border-bottom: 2px solid var(--abottom-color);
    padding: 0 4px;
    transition: .3s;
    color: var(--atext-color);
    text-decoration: none;
}
#write a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#write a span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#write a:hover {
    border-radius: 6px;
    background-color: var(--abottom-color);
    cursor: pointer;
}
#write a:hover span {
    padding-right: 25px;
}
#write a:hover span:after {
    opacity: 1;
    right: 0;
}
#write h2 a,
#write h4 a{
    border-bottom: none !important;
}
h2 a:hover:before,
h4 a:hover:before{
    content: none !important;
}
#write a:empty{
    padding-left: 0px;
    padding-right: 0px;
}
#write a.md-toc-inner {
    line-height: 1.6;
    white-space: pre-line;
    border-bottom: none;
    color: var(--toc-color);
}
.md-toc {
    margin-top: 40px;
    padding-bottom: 20px;
}
#write a.md-toc-inner:hover {
    text-decoration: underline;
    color: var(--toc-color) !important;
    background-color: inherit;
    border-radius: 0px;
}
#write a.md-toc-inner code {
    color: var(--toc-color);
    background-color: #f3f4f4;
}
#write a.md-toc-inner:hover:before {
    content: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}
h1 code {
    font-size: inherit !important;
}
h2 code {
    font-size: inherit !important;
}
h3 code {
    font-size: inherit !important;
}
h4 code {
    font-size: inherit !important;
}
h5 code {
    font-size: inherit !important;
}
h6 code {
    font-size: inherit !important;
}
h1 {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.2;
    margin: 0.5em auto 0.2em;
    display: block;
}
h1 span {
    display: inline-block;
    position: relative;
}
h1 span:after {
    background: var(--titlebefore-color);
    bottom: -5px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
h1:hover span:after {
    transform: scaleX(1);
}
h2 {
    margin: 1.4em auto 0.2em;
    font-size: 1.5em;
    border-bottom: 2px solid var(--titlebefore-color);
}
h2::before {
    content: '\e625' !important;
    color: var(--titlebefore-color);
    font-family: "iconfont";
}
@keyframes avatar_turn_around {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}
h2:before {
    display: inline-block;
    animation: avatar_turn_around 2s linear infinite;
    font-size: 28px;
    margin-left: -28px;
}
h2 * {
    margin-left: .18rem;
}
#write>h2:hover:before {
    color: var(--focus-color);
}
#write>h2:hover {
    border-bottom-color: var(--focus-color);
}
.about-content-description h2:before {
    content: none !important;
}
.about-content-description h2 {
    border-bottom: none;
}
h3 {
    font-size: 1.3em;
    line-height: 1.43;
    margin: 1.2em auto 0.2em;
    padding-left: 9px;
    border-left: 5px solid var(--titlebefore-color);
    border-radius: 4px;
}
h4 {
    margin-top: 1.0em;
    margin-bottom: -1.2em;
    font-size: 1.2em;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    border: 1px solid var(--titlebefore-color);
    border-top: 4px solid var(--titlebefore-color);
    border-radius: 4px;
}
#write>h3:hover:before,
#write>h4:hover:before {
    width: auto;
    height: auto;
    background-color: var(--focus-color);
    color: #ffffff;
}
#write>h3:hover,
#write>h4:hover {
    border-color: var(--focus-color);
}
#write h5::before,
#write h6::before {
    position: absolute;
    right: calc(100% + .75em);
    top: 0;
    color: var(--titlebefore-color);
    font-size: 0.8rem;
    font-weight: bold;
    font-variant: 'small-caps';
    white-space: nowrap;
    border: 0;
}
#write h5:hover:before,
#write h6:hover:before {
    color: var(--focus-color);
}
#write h5,
#write h6 {
    font-size: 1.1rem;
}
#write h5::before {
    content: 'H5';
    top: 0.18rem;
}
#write h6::before {
    content: 'H6';
    top: 0.18rem;
}
p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
body>h2:first-child {
    margin-top: 0;
    padding-top: 0;
}
body>h1:first-child {
    margin-top: 0;
    padding-top: 0;
}
body>h1:first-child+h2 {
    margin-top: 0;
    padding-top: 0;
}
body>h3:first-child,
body>h4:first-child,
body>h5:first-child,
body>h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}
#write ol,
#write ul {
    padding-left: 35px;
    margin: .5rem 0;
}
#write ol>li>*:not(ol):not(ul),
#write ul>li>*:not(ol):not(ul) {
    padding-left: .25rem;
}
blockquote {
    border: 1px solid var(--blockquoteicon-color);
    padding: 4px 15px;
    color: #666666;
    background-color: var(--blockquotebg-color);
    border-radius: 5px;
    position: relative;
}
blockquote::before {
    content: '\e60c';
    font-family: "iconfont";
    color: var(--blockquoteicon-color);
    position: top;
    font-size: 1rem;
    font-weight: 500;
}
blockquote:hover {
    border-left: 3px solid var(--focus-color);
}
blockquote:hover:before {
    color: var(--focus-color);
}
table {
    padding: 0;
    word-break: initial;
    border-collapse: separate;
}
table tr:nth-child(2n) {
    background-color: var(--tableevenrow-color);
}
table tr th {
    font-weight: bold;
    border: 1px solid var(--tableborder-color);
    background-color: var(--tablethbg-color);
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid var(--tableborder-color);
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}
table tr:hover {
    background-color: var(--tablefocusrow-color);
}
#write .CodeMirror pre {
    font-family: var(--code-font);
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 5px;
}
.md-fences {
    background: var(--codeblockbg-color);
    border-radius: 5px;
    color: var(--codeblockfont-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.6em;
    border: 1px solid #d0d5d7;
}
#write .CodeMirror-gutters {
    border-right: 1px solid rgb(199, 159, 159);
}
.cm-s-inner .CodeMirror-linenumber {
    color: var(--codeblocknum-color);
}
#write .CodeMirror-cursors .CodeMirror-cursor {
    border-left: 2px solid var(--focus-color);
}
.md-fences:not(.md-focus) .CodeMirror-code>*:hover {
    background-color: var(--codeblockline-color);
}
.md-fences.md-focus .CodeMirror-code>div.CodeMirror-activeline {
    background-color: var(--codeblockline-color);
}
#write ol>li>*[class~="md-fences"],
#write ul>li>*[class~="md-fences"] {
    padding-left: 0 !important;
}
[md-inline='inline_math'] {
    color:blue;
    font-size: 100%;
}
@media only screen and (max-width: 800px) {
    .MathJax_SVG_Display svg {
        max-width: inherit !important;
    }
}
pre.md-meta-block {
    font-family: var(--body-font);
    color: var(--yaml-color) !important;
    padding: 15px;
    background: var(--yamlbg-color) !important;
    font-size: 0.8rem;
    line-height: 1.45;
    border-radius: 5px;
}
#write code {
    padding: 2px 4px;
    border-radius: 5px;
    font-family: var(--code-font);
    font-size: 0.9rem;
    color: var(--code-color);
    background-color: var(--codebg-color);
}
#write .md-footnote {
    background-color: var(--footnotebg-color);
    color: var(--footnote-color);
}
#write sup.md-footnote a {
    color: inherit !important;
    border-bottom: none;
    padding: 1px;
    background-color: inherit;
}
#write span[md-inline="highlight"] mark {
    background-color: var(--highlightbg-color);
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: var(--highlight-color);
    font-weight: 500;
}
hr {
    width: 80%;
    margin: 0 auto;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--split-color), rgba(0, 0, 0, 0));
}
#write del {
    padding: 1px 2px;
}
.cm-s-inner .cm-link,
.cm-s-inner.cm-link {
    color: #22a2c9;
}
.cm-s-inner .cm-string {
    color: #22a2c9;
}
.md-task-list-item>input {
    margin-left: -1.3em;
}
.md-diagram-panel svg {
    height: inherit !important;
}
#write pre.md-meta-block {
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}
.mathjax-block>.code-tooltip {
    bottom: .375rem;
}
#write>h3:hover:before {
    left: -1.5625rem;
    top: .375rem;
}
#write>h4:hover:before {
    left: -1.5625rem;
    top: .285714286rem;
}
#write>h5:hover:before {
    left: -1.5625rem;
    top: .285714286rem;
}
#write>h6:hover:before {
    left: -1.5625rem;
    top: .285714286rem;
}
.md-image {
    margin: 15px auto 5px;
}
.md-image img {
    border-radius: 4px;
}
.md-image img[alt|='shadow'] {
    box-shadow: #84A1A8 0px 10px 15px;
    background-size: 100% 100%;
    cursor: default;
    border-left: 0;
    border-right: 0;
}
.md-tag {
    color: inherit;
}
.sidebar-tabs {
    border-bottom: none;
}
#typora-sidebar {
    background-color: var(--sidebarbg-color);
}
.outline-content {
    background-color: var(--sidebarbg-color);
}
.outline-item {
    font-size: 16px;
}
.outline-item:hover {
    color: var(--titlebefore-color) !important;
    background-color: var(--sidelist-selected-color);
}
.md-lang {
    color: #b4654d;
}
#write ul li,
#write ol li,
#write .ul .li,
#write .ol .li {
    list-style-type: none;
}
#write ul>li:not(.tab):before,
#write .ul>.li:not(.tab):before {
    margin-left: -22px;
    margin-top: 9px;
    width: .62em;
    height: .62em;
    border: .1em solid var(--ulol-color);
    border-radius: .31em;
    background: 0 0;
    content: '';
    line-height: .42em;
}
#write ol li:before,
#write ul li:before,
#write .ol .li:before,
#write .ul .li:before {
    position: absolute;
    background: var(--ulol-color);
    color: var(--olfore-color);
    cursor: pointer;
    transition: all .3s ease-out;
}
#write ol li:first-child,
#write .ol .li:first-child {
    counter-reset: li;
}
#write ol li:hover:before,
#write ul li:hover:before,
#write .ol .li:hover:before,
#write .ul .li:hover:before {
    transform: rotate(360deg);
}
#write ul>li:not(.tab):hover:before,
#write .ul>.li:not(.tab):hover:before {
    border-color: var(--focus-color);
}
#write ol>li:before,
#write .ol>.li:before {
    margin-top: 5px;
    margin-left: -25px;
    width: 1.65em;
    height: 1.65em;
    border-radius: 0.825em;
    content: counter(li);
    counter-increment: li;
    text-align: center;
    font-size: .65em;
    line-height: 1.60em;
}
.footnotes.md-def-link .md-def-split,
.footnotes .md-def-url {
    display: none;
}
.footnotes.md-def-link .md-def-name,
.footnotes .md-def-title {
    display: inline;
}
.footnotes {
    margin-top: 2px;
    margin-bottom: 2px;
}
kbd {
    font: var(--code-font);
    font-size: .8em;
    background: var(--bg-color);
    color: var(--body-color);
    border-radius: 5px;
}
@media print {
    html,
    body {
        font-size: 15px !important;
        font-family: Times, '思源宋体', serif !important;
    }
    pre {
        page-break-inside: avoid;
        word-wrap: break-word;
    }
    .MathJax_SVG_Display svg {
        max-width: 100% !important;
    }
}
